
// Mini Editor
// -------------------

// Mini Editors are the "text inputs" used in find+replace or in the settings.

atom-text-editor[mini] {
  padding-left: @component-padding/3;
  color: @text-color;
  border-radius: @component-border-radius;
  background-color: @input-background-color;
  font-family: @font-family;
  border: 1px solid @input-border-color !important;
  max-height:none !important;
  // height:34px;
  // margin: 0;
  border-radius: 3px;

  .placeholder-text {
    color: #41505E !important;
  }

  &.is-focused {
    border-color: @color-primary !important;
  }
  
  
  .scroll-view{
    line-height: 30px;
    // .cursors .cursor{ }
    // .lines{ }
    .cursor, .highlights{
      height: 20px !important;
      margin-top:5px;
      margin-left:1px;
    }  

  }
  
}


atom-text-editor {
  .cursor{
    border-left: 1px solid @syntax-cursor-color;
    // transition: 100ms ease; 
  }
  .selection .region {
    background-color: @color-primary;
    opacity: 0.1;
  }

  &.vim-mode{
    &.normal-mode{
      .cursors.blink-off .cursor{
        opacity: 0;
      }
    }
  }  
}

